<config>
	<!-- Defines app name and default icon -->
	<app id="homedia" 
			resolution="640,480" 
			bgcolor="38,109,163"
			fullScreen="no" 
			caption="Car Media Center" 
			icon="" 
			onLoad="self.init()" 
			onInit="areas[ 'rootmenu' ].init( menuDefs[ 'rootMenu' ], 0 )">
		<!-- Application params -->		
		<params>
			<param id="codepages" list="yes">
				<value>cp1251</value>
			</param>
		</params>
		<!-- Define areas where root menus will reside -->		
		<areas>
			<area id="rootmenu" 
						modules="menu" 
						renderer="menu.MenuItem" 
						displayer="menu.ListDisplay"
						coords="210,120,210,200">
				<params>
					<param id="fontSize">40</param>
					<param id="fontColor">255,255,255</param>
					<param id="fontBold">no</param>
					<param id="scroll">no</param>
				</params>
			</area>
			<!-- Yes/no dialog -->
			<area id="yesnodialog" 
						modules="menu" 
						renderer="" 
						displayer="menu.YesNoDialog" 
						coords="120,120,400,180">
				<params>
					<param id="fontSize">30</param>
					<param id="choiceFontSize">34</param>
					<param id="color">255,255,0</param>
					<param id="bgColor">18, 89, 143</param>
					<param id="width">110</param>
					<param id="choices" list="yes">
						<value>yes</value>	
						<value>no</value>
					</param>
				</params>
			</area>
		</areas>
		<!-- Define menus for the root of application -->		
		<menuDefs>
			<!-- Root app menu -->
			<menu id="rootMenu" 
					onInit="hideAll( areas ); setActive( areas[ 'rootmenu' ] );">
				<items>
					<item caption="Music" onClick="areas[ 'audiomenu' ].init( menuDefs[ 'rootAudioMenu' ], 0 )"/>
					<item caption="Exit" onClick="import __main__; __main__.EXIT_FLAG= 1;"/>
				</items>
			</menu>
		</menuDefs>
		<!-- Defines modules and their properties -->
		<modules>
			<module 
					id="music" 
					caption="Music"						
					import="pymedia.audiofile"	
					actions="pymedia.audiofile.actions"	
					onLoad="%onLoad" 
					onUnLoad="pymedia.audiofile.player.stop()" 
					onInit="%onInit">
				<params>
					<param id="definedKeys" list="yes">
						<value eval="true">( pygame.K_ESCAPE, 'Root menu' )</value>
						<value eval="true">( pygame.K_PAUSE, 'Pause/Unpause' )</value>
						<value eval="true">( pygame.K_RETURN, 'Enter selection' )</value>
						<value eval="true">( pygame.K_BACKSPACE, 'Back to the previous selection' )</value>
						<value eval="true">( pygame.K_TAB, 'To the neighbor menu' )</value>
						<value eval="true">( pygame.K_UP, 'Go up' )</value>
						<value eval="true">( pygame.K_DOWN, 'Go down' )</value>
						<value eval="true">( pygame.K_PAGEDOWN, 'Go down a page' )</value>
						<value eval="true">( pygame.K_PAGEUP, 'Go up a page' )</value>
						<value eval="true">( pygame.K_HOME, 'Go to the beginning' )</value>
						<value eval="true">( pygame.K_END, 'Go to the end' )</value>
						<value eval="true">( pygame.K_DELETE, 'Delete current item' )</value>
						<value eval="true">( pygame.K_RIGHT, 'Go to the item/menu at the right side' )</value>
						<value eval="true">( pygame.K_LEFT, 'Go to the item/menu at the left side' )</value>
						<value eval="true">( pygame.K_F1, "Show what's playing" )</value>
						<value eval="true">( pygame.K_F2, 'Volume up' )</value>
						<value eval="true">( pygame.K_F3, 'Mute/Unmute' )</value>
						<value eval="true">( pygame.K_F4, 'Volume down' )</value>
					</param>
					<param id="root" list="yes">
						<value>C:\bors\music</value>
						<value>D:\</value>	
					</param>
					<param id="iconFiles" list="yes">
						<value>JPG</value>
						<value>BMP</value>
						<value>GIF</value>
					</param>
					<param id="playlistDir">c:\bors\playlists</param>
					<param id="cddb">c:\bors\cddb</param>
					<param id="cacheSizeM">256</param>
				</params>
				<menuDefs>
					<!-- Root audio menu -->
					<menu id="rootAudioMenu" 
							onKeyPress="%onKeyPress" 
							onInit="%onInit">
						<items>
							<item caption="Directories" onClick="areas[ 'audiomenu' ].init( menuDefs[ 'rootDirectoryMenu' ], 0 ); "/>
							<item caption="Playlists" onClick="areas[ 'audiomenu' ].init( menuDefs[ 'rootPlaylistMenu' ], 0 );"/>
							<item caption="Whats playing" onClick="%whatsPlaying"/>
							<item caption="Back" onClick="areas[ 'rootmenu' ].init( menuDefs[ 'rootMenu' ], 0 );"/>
						</items>
					</menu>
					<!-- Root menu for showing playlists -->
					<menu id="rootPlaylistMenu" 
							onKeyPress="%onKeyPress" 
							onInit="%onInit">
						<items>
							<item caption="New" onClick="%new"/>
							<!--<item caption="Rename" onClick=""/>-->
							<item caption="Reload" onClick="%reload"/>
							<item caption="Save" onClick="pymedia.audiofile.playLists.save();"/>
							<item caption="Back" onClick="areas[ 'audiomenu' ].init( menuDefs[ 'rootAudioMenu' ], 0 );"/>
						</items>
					</menu>
					<!-- Root menu for showing directories -->
					<menu id="rootDirectoryMenu" 
							onKeyPress="%onKeyPress" 
							onInit="%onInit">
						<items>
							<item caption="Play All" onClick="%playAll"/>
							<item caption="Play Files" onClick="%playFiles"/>
							<item caption="Whats playing" onClick="%whatsPlaying"/>
							<item caption="Sort By Name" onClick="areas[ 'audiofilelist' ].getWrapper().sortByName();"/>
							<item caption="Rip Disk" hidden="yes" onClick=""/>
							<item caption="Refresh" onClick="pymedia.audiofile.refreshFiles( areas[ 'audiofilelist' ] );"/>
							<item caption="Back" onClick="areas[ 'audiomenu' ].init( menuDefs[ 'rootAudioMenu' ], 0 );"/>
						</items>
					</menu>
					<!-- Menu for the selected playlist -->
					<menu id="playlistMenu" 
							onKeyPress="%onKeyPress" 
							onInit="%onInit">
						<items>
							<item caption="Play all" onClick="%playAll"/>
							<item caption="Whats playing" onClick="areas[ 'audiomenu' ].init( menuDefs[ 'playingMenu' ], 0 )"/>
							<item caption="Set As Current" onClick="%setAsCurrent"/>
							<item caption="Sort By Name" onClick="areas[ 'playlistcontent' ].getWrapper().sortByName( 1 ); "/>
							<item caption="Shuffle" onClick="areas[ 'playlistcontent' ].getWrapper().randomize();"/>
							<item caption="Clear" onClick="%clear"/>
							<item caption="Back" onClick="areas[ 'audiomenu' ].init( menuDefs[ 'rootPlaylistMenu' ], 0 );"/>
						</items>
					</menu>
					<!-- Menu for the playing playlist -->
					<menu id="playingMenu" 
							onKeyPress="%onKeyPress" 
							onInit="%onInit">
						<items>
							<item caption="Play all" onClick="%playAll"/>
							<item caption="Sort By Name" onClick="areas[ 'playerlistcontent' ].getWrapper().sortByName( 1 ); "/>
							<item caption="Shuffle" onClick="areas[ 'playerlistcontent' ].getWrapper().randomize();"/>
							<item caption="Clear" onClick="%clear"/>
							<item caption="Back" onClick="areas[ 'audiomenu' ].init( menuDefs[ 'rootPlaylistMenu' ], 0 );"/>
						</items>
					</menu>
				</menuDefs>
				<areas>
					<!-- Audio menu properties -->
					<area id="audiomenu" 
								modules="menu" 
								renderer="menu.MenuItem" 
								displayer="menu.ListDisplay" 
								coords="0,40,200,340">
						<params>
							<param id="fontSize">32</param>
							<param id="scroll">no</param>
						</params>
					</area>
					<!-- File list for audio files -->
					<area id="audiofilelist" 
								modules="pymedia.audiofile,menu" 
								renderer="pymedia.audiofile.AudioFileFolderItem" 
								displayer="menu.ListDisplay" 
								coords="200,50,440,430"
								onKeyPress="%onKeyPress">
						<params>
							<param id="lengthFontSize">30</param>
							<param id="lengthFontBold">yes</param>
							<param id="titleFontSize">24</param>
							<param id="artistFontSize">24</param>
							<param id="albumFontSize">24</param>
							<param id="folderIcons" list="yes">
								<value>folder_0.bmp</value>
								<value>folder_1.bmp</value>
							</param>
							<param id="fileIcons" list="yes">
								<value>file_0.bmp</value>
								<value>file_1.bmp</value>
							</param>
							<param id="scroll">yes</param>
							<param id="cddaIcon">audio.gif</param>
							<param id="emptyIcon">empty.bmp</param>
							<param id="extensions" list="yes">
								<value eval="true">pympg.extensions</value>
							</param>
						</params>
					</area>
					<!-- Playlist content -->
					<area id="playlistcontent" 
								modules="pymedia.audiofile,menu" 
								renderer="pymedia.audiofile.PlaylistPlainItem" 
								displayer="menu.ListDisplay" 
								coords="200,50,440,430"
								onKeyPress="%onKeyPress"
								onDialogReturn="%onDialogReturn">
						<params>
							<param id="lengthFontSize">30</param>
							<param id="lengthFontBold">yes</param>
							<param id="titleFontSize">24</param>
							<param id="artistFontSize">24</param>
							<param id="albumFontSize">24</param>
							<param id="folderIcons" list="yes">
								<value>folder_0.bmp</value>
								<value>folder_1.bmp</value>
							</param>
							<param id="fileIcons" list="yes">
								<value>file_0.bmp</value>
								<value>file_1.bmp</value>
							</param>
							<param id="scroll">yes</param>
							<param id="cddaIcon">audio.gif</param>
							<param id="emptyIcon">empty.bmp</param>
							<param id="extensions" list="yes">
								<value eval="true">pympg.extensions</value>
							</param>
						</params>
					</area>
					<!-- Playlist content for the currently playing files -->
					<area id="playerlistcontent" 
								modules="pymedia.audiofile,menu" 
								renderer="pymedia.audiofile.PlaylistPlainItem" 
								displayer="menu.ListDisplay" 
								coords="200,50,440,230"
								onKeyPress="%onKeyPress"
								onDialogReturn="%onDialogReturn">
						<params>
							<param id="lengthFontSize">30</param>
							<param id="lengthFontBold">yes</param>
							<param id="titleFontSize">30</param>
							<param id="artistFontSize">24</param>
							<param id="albumFontSize">24</param>
							<param id="folderIcons" list="yes">
								<value>folder_0.bmp</value>
								<value>folder_1.bmp</value>
							</param>
							<param id="fileIcons" list="yes">
								<value>file_0.bmp</value>
								<value>file_1.bmp</value>
							</param>
							<param id="scroll">yes</param>
							<param id="cddaIcon">audio.gif</param>
							<param id="emptyIcon">empty.bmp</param>
							<param id="extensions" list="yes">
								<value eval="true">pympg.extensions</value>
							</param>
						</params>
					</area>
					<!-- Background display for currently playing file -->
					<area id="audiobgdisplay" 
								modules="pymedia.audiofile" 
								renderer="" 
								displayer="pymedia.audiofile.BgPlayerDisplay" 
								coords="40,400,160,200">
						<params>
							<param id="fontSize">60</param>
							<param id="showControls">yes</param>
						</params>
					</area>
					<!-- Full player for currently playing file -->
					<area id="audioplayerdisplay" 
								modules="pymedia.audiofile" 
								renderer="" 
								displayer="pymedia.audiofile.PlayerDisplay" 
								coords="0,300,640,180"
								onKeyPress="%onKeyPress">
						<params>
							<param id="lengthFontSize">30</param>
							<param id="titleFontSize">30</param>
							<param id="artistFontSize">24</param>
							<param id="artistFontColor">0,255,0</param>
							<param id="albumFontSize">24</param>
							<param id="albumFontColor">255,0,0</param>
							<param id="textOffset">200</param>
							<!--<param id="face">player_frame.bmp</param>-->
							<param id="face">int.gif</param>
							<param id="prevButton">prev</param>
							<param id="prevButtonPos">50,134</param>
							<param id="playButton">play</param>
							<param id="playButtonPos">160,134</param>
							<param id="pauseButton">pause</param>
							<param id="pauseButtonPos">270,134</param>
							<param id="stopButton">stop</param>
							<param id="stopButtonPos">380,134</param>
							<param id="nextButton">next</param>
							<param id="nextButtonPos">490,134</param>
							<param id="showControls">yes</param>
						</params>
					</area>
					<!-- Audio playlist content area -->
					<area id="audioplaylist" 
								modules="pymedia.audiofile,menu" 
								renderer="pymedia.audiofile.PlayListItem" 
								displayer="menu.ListDisplay" 
								coords="200,50,440,430"
								onKeyPress="%onKeyPress"
								onDialogReturn="%onDialogReturn"
								onEnter="%onEnter">
						<params>
							<param id="fontSize">40</param>
							<param id="scroll">yes</param>
						</params>
					</area>
				</areas>
			</module>
		</modules>
	</app>
</config>
